## Supermarket MCMC simulation
In this project, the goal is to write a program that simulates customer behaviour in a supermarket using Markov-Chain Monte Carlo methods and visualize it on a map.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import cv2
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load saved dataframe from EDA
df = pd.read_csv('Data/new_df.csv')
df.head(3)

,Unnamed: 0,timestamp,week,date,year,month,day,a_day,time,hour,minute,customer_no,customer_ID,location,next_loc
0,0,2019-09-02 07:03:00,36,2019-09-02,2019,9,2,Mon,07:03:00,7,3,1,1_Mon,dairy,checkout
1,1,2019-09-02 07:03:00,36,2019-09-02,2019,9,2,Mon,07:03:00,7,3,2,2_Mon,dairy,checkout
2,2,2019-09-02 07:04:00,36,2019-09-02,2019,9,2,Mon,07:04:00,7,4,3,3_Mon,dairy,checkout

In [3]:
# Transition Matrix
transition_mat=pd.crosstab(df['location'],  df['next_loc'], normalize=0)
transition_mat

next_loc  checkout     dairy    drinks     fruit    spices
location
checkout  1.000000  0.000000  0.000000  0.000000  0.000000
dairy     0.391211  0.000000  0.223151  0.189925  0.195713
drinks    0.537023  0.027159  0.000000  0.219062  0.216756
fruit     0.499511  0.238319  0.136266  0.000000  0.125904
spices    0.251000  0.323553  0.273140  0.152307  0.000000

In [4]:
#Convert transition matrix to numpy array
P = transition_mat.to_numpy()
P

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.39121115, 0.        , 0.22315113, 0.18992497, 0.19571275],
       [0.5370228 , 0.0271586 , 0.        , 0.21906226, 0.21675634],
       [0.49951124, 0.23831867, 0.13626588, 0.        , 0.1259042 ],
       [0.25100027, 0.32355295, 0.2731395 , 0.15230728, 0.        ]])

In [5]:
# Actual Simulation
class Customer:
    def __init__(self, id, state, transition_mat):
        self.id = id
        self.state = state
        self.transition_mat = transition_mat
        
      
    def __repr__(self):
        return f'<Customer {self.id} in {self.state}>'
      

    def is_active(self):
        if self.state != 'checkout':
            return True
        else:
            return False

    def next_state(self):
        transition_mat = self.transition_mat
        next_state = ['checkout', 'dairy', 'drinks', 'fruit', 'spices']
        if self.state == 'checkout':
                return 'customer has left'
        else:
            while self.state != 'checkout':
                if self.state == 'dairy':
                    self.state = np.random.choice(next_state, p=transition_mat[1])
                    print(self.state)
                elif self.state == 'drinks':
                    self.state = np.random.choice(next_state, p=transition_mat[2])
                    print(self.state)
                elif self.state == 'fruit':
                    self.state = np.random.choice(next_state, p=transition_mat[3])
                    print(self.state)
                else:
                    self.state = np.random.choice(next_state, p=transition_mat[4])
                    print(self.state)
            else:
                return 'customer has left'

In [6]:
#For customer 1
cust1 = Customer(1, 'dairy', P)
cust1.is_active()

True

In [7]:
cust1.next_state()

spices
fruit
checkout

'customer has left'

In [8]:
cust1.is_active()

False

In [9]:
#For customer 4
cust4 = Customer(4, 'dairy', P)
cust4.is_active()

True

In [10]:
cust4.next_state()

spices
dairy
spices
drinks
fruit
dairy
checkout

'customer has left'

In [11]:
cust4.is_active()

False

In [12]:
#For customer 3
cust3 = Customer(3, 'spices', P)
cust3.next_state()

drinks
checkout

'customer has left'